.content{
  position:relative;
  width:calc(80% - 70px);
  padding:15px 35px;
  left:10%;
}

/* Welcome */
.welcome-wrapper{
  background-image:url("../res/bg.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
  position:relative;
  padding:80px 0px;
  width:100%;
  left:0%;
}
.welcome{
  position:relative;
  box-shadow:0 0 12px black;
  background-color:var(--gray1);
  transform:translateX(-50%);
  border-radius:35px;
  padding:25px;
  width:50%;
  left:50%;
}
.welcome .logo{
  transform:translateX(-50%);
  position:relative;
  width:80%;
  left:50%;
}
.welcome p{
  text-align:center;
}


/* Services */
.service{
  box-shadow:0 0 5px #333;
  border-radius:35px;
  margin:25px;
}
.service .service-top{
  border-radius:35px 35px 0px 0px;
  background-color:var(--blue);
  padding:15px 15px 5px 15px;
  color:var(--gray1);
}
.service .service-top h2{
  line-height:35px;
  font-size:30px;
  margin:0;
}
.service .service-top img{
  transform:scale(1.5);
}
.service .service-bot{
  border-radius:0px 0px 35px 35px;
  background-color:var(--gray1);
  padding:15px 25px 25px 25px;
}

/* About */
.about{
  box-shadow:0 0 12px #333;
  background-color:var(--gray1);
  border-radius:35px;
  margin:15px 0;
  padding:20px;
}

/* Partners */
.partner{
  width:calc(25% - 75px);
  margin:25px;
}

/* Products */
.product{
  background-color:var(--gray1);
  box-shadow:0 0 12px #333;
  border-radius:35px;
  text-align:center;
  padding:25px;
  margin:25px;
}
.product .product-logo{
  transform:translateX(-50%);
  margin-bottom:15px;
  position:relative;
  max-height:200px;
  display:block;
  left:50%;
}

/* Contact */
.contact{
  box-shadow:0 0 12px #333;
  background-color:var(--gray1);
  border-radius:35px;
  margin:15px 0;
  padding:20px;
}
.contact .icons-wrapper{
  grid-template-columns:33% 33% 33%;
  text-align:center;
  display:grid;
}
.contact .icons-col:first-of-type{
  border-right:solid 2px var(--gray3);
}
.contact .icons-col:last-of-type{
  border-left:solid 2px var(--gray3);
}
.contact .icons-wrapper img{
  margin-top:35px;
  width:45px;
}

/* Small */
@media only screen and (max-width:1500px){
  .content{
    width:calc(100% - 10px);
    padding:15px 5px;
    left:0;
  }
  .service{
    margin:5px;
  }
}
@media only screen and (max-width:800px){
  .partner{
    width:calc(80% - 10px);
    position:relative;
    padding:25px 0px;
    margin:5px;
    left:10%;
  }
  .partner:not(:last-of-type){
    border-bottom:solid 3px var(--gray2);
  }
  .welcome{
    width:calc(100% - 10px);
    border-radius:0;
    padding:5px;
  }
  .welcome .logo{
    width:calc(100% - 10px);
  }
  .contact .icons-col span{
    display:none;
  }
}
