.content{
  position:relative;
  width:calc(80% - 70px);
  padding:15px 35px;
  left:10%;
}

/* Services */
.service{
  box-shadow:0 0 5px #333;
  border-radius:35px;
  margin:25px;
}
.service .service-top{
  border-radius:35px 35px 0px 0px;
  background-color:var(--blue);
  padding:15px 15px 5px 15px;
  color:var(--gray1);
}
.service .service-top h1{
  margin:0;
}
.service .service-top img{
  transform:scale(1.5);
}
.service .service-bot{
  border-radius:0px 0px 35px 35px;
  background-color:var(--gray1);
  padding:15px 25px 25px 25px;
}

/* Mission */
.mission{
  box-shadow:0 0 12px #333;
  background-color:var(--gray1);
  border-radius:35px;
  margin:15px 0;
  padding:20px;
}

/* Partners */
.partner{
  width:calc(20% - 50px);
  margin:25px;
}

/* Products */
.product{
  background-color:var(--gray1);
  box-shadow:0 0 12px #333;
  border-radius:35px;
  text-align:center;
  padding:25px;
  margin:25px;
}
.product .product-logo{
  margin-bottom:15px;
  position:relative;
  display:block;
  width:100%;
}

/* Contact */
.contact{
  box-shadow:0 0 12px #333;
  background-color:var(--gray1);
  border-radius:35px;
  margin:15px 0;
  padding:20px;
}
.contact .icons-wrapper{
  grid-template-columns:33% 33% 33%;
  text-align:center;
  display:grid;
}
.contact .icons-col:first-of-type{
  border-right:solid 2px var(--gray3);
}
.contact .icons-col:last-of-type{
  border-left:solid 2px var(--gray3);
}
.contact .icons-wrapper img{
  margin-top:35px;
  width:45px;
}
