
:root{
  --box-shadow:0 0 2px #333;
  --border-radius:8px;
  --gray1:#fafafa;
  --gray2:#dddddd;
  --gray3:#aaaaaa;
  --gray4:#454545;
  --white:#ffffff;
  --blue:#118ad6;
}
body{
  background-color:var(--gray1);
  font-family:OpenSans;
  color:var(--gray4);
  line-height:26px;
  font-size:19px;
  padding:0;
  margin:0;
}
h1{
  font-size:45px;
  line-height:60px;
}
h1,h2,h3,h4,h5,h6{
  font-family:Rubik;
}
.center{
  text-align:center;
}

/* Page content */
.wrapper3{
  grid-template-columns:33% 33% 33%;
  display:grid;
}
.wrapper2{
  grid-template-columns:50% 50%;
  display:grid;
}
.section{
  position:relative;
  padding-bottom:25px;
  padding-top:15px;
  width:100%;
  left:0;
}
.section:first-of-type{
  box-shadow:var(--box-shadow);
}
a{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--blue);
}
a:visited{
  text-decoration:none;
  color:var(--blue);
}
a:hover{
  text-decoration:none;
  cursor:pointer;
  color:#6bbcef;
}

/* Navbar */
.navbar{
  grid-template-columns:80px auto;
  background-color:var(--gray1);
  box-shadow:var(--box-shadow);
  width:calc(100% - 30px);
  font-family:Rubik;
  position:relative;
  padding:5px 15px;
  display:grid;
  z-index:1;
}
.navbar .icon{
  height:80px;
}
.navbar div a{
  line-height:80px;
  padding-left:12px;
  margin-left:12px;
  font-weight:bold;
  font-size:35px;
}
.navbar div a:not(:first-of-type){
  border-left:solid 1px var(--gray2);
}

/* Footer */
.footer{
  background-color:#333;
  color:var(--gray1);
  text-align:center;
  font-weight:bold;
  padding:15px 0;
}

/* Small */
@media only screen and (max-width:800px){
  .wrapper3.override-small{
    grid-template-columns:100%;
  }
  .wrapper2.override-small{
    grid-template-columns:100%;
  }
  .navbar{
    grid-template-columns:100%;
    text-align:center;
  }
  .navbar div{
    grid-template-columns:100%;
    display:grid;
  }
  .navbar span{
    padding:0;
    margin:0;
  }
  .navbar span:not(:first-of-type){
    border-top:solid 1px var(--gray2);
    border-left:none;
  }
}
