@import "front-page.css";
@import "welcome.css";
@import "navbar.css";
@import "small.css";

:root{
  --gray1:#fafafa;
  --gray2:#dddddd;
  --gray3:#aaaaaa;
  --gray4:#454545;
  --blue:#118ad6;
}
body{
  background-color:var(--gray1);
  font-family:sans-serif;
  color:var(--gray4);
  line-height:24px;
  font-size:18px;
  padding:0;
  margin:0;
}
h1{
  font-size:45px;
}

/* Page content */
.wrapper3{
  grid-template-columns:33% 33% 33%;
  display:grid;
}
.wrapper2{
  grid-template-columns:50% 50%;
  display:grid;
}
.section{
  position:relative;
  padding-bottom:50px;
  width:100%;
  left:0;
}
.section:first-of-type{
  box-shadow:0 0 12px #333;
}
a,.a-like{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--blue);
}
a:visited{
  text-decoration:none;
  color:var(--blue);
}
a:hover,.a-like:hover{
  text-decoration:none;
  cursor:pointer;
  color:#6bbcef;
}

/* Footer */
.footer{
  background-color:var(--gray4);
  color:var(--gray1);
  text-align:center;
  padding:15px 0;
}
