.partners-categories{
  grid-template-columns:33% 34% 33%;
  display:grid;
}
.partners-categories div{
  padding-bottom:15px;
  text-align:center;
  overflow:hidden;
  margin:15px;
}
.partners-categories h1{
  border-radius:var(--border-radius);
  background-color:var(--blue);
  margin-top:0;
  color:white;
}
.partners-categories img{
  max-height:200px;
  width:70%;
  margin:40px 0;
}

@media only screen and (max-width:1500px){
  .partners-categories.override-small{
    grid-template-columns:100%;
  }
}
