@media only screen and (max-width:1500px){
  .content{
    width:calc(100% - 10px);
    padding:15px 5px;
    left:0;
  }
  .service{
    margin:5px;
  }
}

@media only screen and (max-width:800px){
  .wrapper3.override-small{
    grid-template-columns:100%;
  }
  .wrapper2.override-small{
    grid-template-columns:100%;
  }
  .partners-wrapper{
    grid-template-columns:100%;
    display:grid;
  }
  .partner{
    width:calc(80% - 10px);
    position:relative;
    padding:25px 0px;
    margin:5px;
    left:10%;
  }
  .partner:not(:last-of-type){
    border-bottom:solid 3px var(--gray2);
  }
  .welcome{
    width:calc(100% - 10px);
    border-radius:0;
    padding:5px;
  }
  .welcome .logo{
    width:calc(100% - 10px);
  }
  .contact .icons-col span{
    display:none;
  }
}
